//color settings
$content-padding:200px;
$orange:#fa9746;
$dark-orange:#e2883f;
$font:#4b4b4b;
$grey:#a9a9a9;

//margin settings
$margin-top: 50px 50px 0 50px;
$margin-bottom: 0 50px 50px 50px;
$margin-left:50px 0 50px 50px;
$margin-right: 50px 50px 50px 0;
@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');

//font settings
body {
    margin: 0;
    font-family: 'Lato', sans-serif;
    -webkit-user-select: none;    /* Safari */
    -webkit-touch-callout: none;  /* iOS Safari */
    -khtml-user-select: none;     /* Konqueror HTML */
    -ms-user-select: none;        /* Internet Explorer/Edge */
    -moz-user-select: none;       /* Old versions of Firefox */
     user-select: none;           /* Non-prefixed version*/

}
::-webkit-scrollbar{
    display: none;
}
h1{
    font-size: 2.5rem;
}
p{
    font-size: 1.4rem;
}
a {
    color: $grey;
    text-decoration: none;
  }
  a:hover {
     color: $grey
  }
.card{
    width: 22vw;
    background-color: white;
    margin: 20px;
    color: $orange;
    border-radius: 10px;
    cursor: pointer;
    
    h1{
        padding: 50px;
        font-size: 1.5rem;
    }
    hr{
        background-color: $orange;
        border: none;
        height: 2px;
    }
    h2{
        font-size: 4.5rem;
    }
}
.menuicon,.closeicon{
    display: none;
}


//to prevent white bar at the bottom

.body{
    height: 100vh;
}

.container{
}

.card{
    box-shadow: 0px 0px 16px 1px rgba(0,0,0,0.39);
    -webkit-box-shadow: 0px 0px 16px 1px rgba(0,0,0,0.39);
    -moz-box-shadow: 0px 0px 16px 1px rgba(0,0,0,0.39);
}

nav {
    position: relative;
    z-index: 1;
    
    display: flex;
    justify-content: space-between;
    align-items: center;

    padding-left: $content-padding+50px;
    padding-right: $content-padding+50px;

    img{
        height: 60px;
        cursor: pointer;
    }

    .menu-container {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin: 50px 0 50px 50px;
        width: 500px;
        .menu-item {
            cursor: pointer;
            transition-duration: 0.2s;

            font-weight: 900;
            font-size: 1.3rem;

            color:$grey;
        }
        .menu-item:hover {
            transform: scale(1.05);
        }
    }

}


.page1 {
    display: flex;
    justify-content: center;
    align-items: center;
    
    flex-direction: row;

    padding-left: $content-padding;
    padding-right: $content-padding;
    .left{
        margin: $margin-left;
    }
    .right{
        margin:$margin-right;
    }
    h1{
        color: $orange;
    }
    p{
        color: $font;
        margin: 30px 0 30px 0;
    }

    button{
        background-color: $orange;

        border: none;
        border-radius: 8px;

        width: 200px;
        height: 60px;

        color: white;
        font-size: 1.1rem;

        cursor: pointer;

        transition-duration: 0.2s;

        
        &:hover{
            background-color: $dark-orange;
            transform: scale(1.05);
        }
    }

    img{
        width: 40vw;
        margin-right: 50px;
    }
}

.page2 {
    margin: 100px 0 60px 0;

    display: flex;
    justify-content: center;
    align-items: center;

    flex-direction: column;
    
    padding-left: $content-padding;
    padding-right: $content-padding;

    background-color: $orange;
    color: white;

    text-align: center;
    .top{
        padding:30px;
    }
    .bottom {
        padding:30px;
        
        display: flex;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;

    }
    
}

.page3{
    display: flex;
    justify-content: center;
    align-items: center;
    
    flex-direction: column;

    text-align: center;

    padding-left: $content-padding;
    padding-right: $content-padding;

    .top{
        h1{
            color: $orange;
        }
        p{
            color: $font;
        }

    }
    .bottom{
        display: flex;
        justify-content: center;
        align-items: center;
        
        flex-wrap: wrap;
    }
}

footer{
    margin-top: 50px;
    padding: 10px 180px 10px 180px;

    background-color: $orange;

    color: white;

    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

// LOG IN PAGE

.login-container{
    position: fixed;
    top: 0px;
    left: 0;
    width: 100%;
    height:100%;

    display: flex;
    justify-content: center;
    align-items: center;

    .form-container{
        border:3px solid $orange;
        border-radius: 10px;
        padding: 50px;
        width: 350px;
        // box-shadow: 0px 0px 16px 1px rgb(250,151,70);
        // -webkit-box-shadow: 0px 0px 16px 1px rgb(250,151,70);
        // -moz-box-shadow: 0px 0px 16px 1px rgb(250,151,70);
        form{
            display: flex;
            justify-content: center;
            flex-direction: column;

            padding: 50px;
            font-weight:500;
            .password{
                padding-top: 30px;
            }
            input{
                border: 2px solid $orange;
                border-radius: 5px;
                padding: 5px;
            }
            button{
                margin-top: 40px;
                margin-left: auto;
                margin-right: auto;
                width: 150px;
                height: 40px;
                border-radius: 10px;
                cursor: pointer;
                border: none;
                background-color: $orange;
                color: white;
                font-size: 1.05rem;
                transition-duration: 0.2s;
                &:hover{
                    transform: scale(1.05);
                    background-color: $dark-orange;
                }
            }
        }
    }

}